
#canvasDiv{
    width:300px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


#formDiv{

    width:300px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}


.order-table{
    text-align: center;
    width:300px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

.order-table-header{
    text-align:center;
    background:none repeat scroll 0 0 #E5E5E5;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}