<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:view>
    <h:head>
        <meta name="author" content="Колоколов Артём Михайлович"/>
        <meta name="keywords" content="ВТ, Лабораторная работа, Веб-программирование"/>
        <h:outputStylesheet library="stylesheets" name="temp_layout.css"/>
        <ui:insert name="header">
        </ui:insert>
    </h:head>

    <h:body>
        <div class="header">
            <a class="left-text">Группа P3212</a>
            <div class="header-right">
                <a>Вариант 13409</a></div>
        </div>

        <div id="content">
            <ui:insert name="content">
            </ui:insert>
        </div>

        <div id="footer">
            &copy; Kolokolov Artem, Fedorov Sergey
        </div>
    </h:body>
</f:view>
</html>