<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<ui:composition template="templates/template_layout.xhtml">

    <ui:define name="header">
        <title>Лабораторная №3 - часы</title>
        <h:outputStylesheet library="stylesheets" name="main.css"/>
        <meta name="description"
              content="Лабораторная работа №3 по дисциплине веб-программирование - Main page"/>
    </ui:define>

    <ui:define name="content">
<!--        <div class="wrapper">-->
            <div id="canvasDiv">
                <canvas id="canvas" width="300px" height="300px"></canvas>
                <h:outputScript library="js" name="graph.js"/>
            </div>
            <div id="formDiv">
                <h:form>
                    <h:outputLabel value="X : "/>
                    <h:selectManyCheckbox id="param-x" value="#{resultBean.x}" validatorMessage="Укажите x">
                        <f:selectItem itemValue="-5" itemLabel=" -5"/>
                        <f:selectItem itemValue="-4" itemLabel=" -4 "/>
                        <f:selectItem itemValue="-3" itemLabel=" -3"/>
                        <f:selectItem itemValue="-2" itemLabel=" -2"/>
                        <f:selectItem itemValue="-1" itemLabel=" -1 "/>
                        <f:selectItem itemValue="0" itemLabel=" 0 "/>
                        <f:selectItem itemValue="1" itemLabel=" 1 "/>
                        <f:validateRequired for="param-x" />
                    </h:selectManyCheckbox>
                    <h:message id="error-message-x" for="param-x" style="color:red"/>

                    <br/>
                    <h:outputLabel value="Y : " for="param-y"/>
                    <h:inputText id="param-y"
                                 value="#{resultBean.y}"
                                 a:placeholder="Введите число от -3 до 3"
                                 maxlength="8"
                                 validatorMessage="Y от -3 до 3"
                                 required="true">
                        <f:validateDoubleRange minimum="-3.0" maximum="3.0" for="param-y"/>
                    </h:inputText>
                    <h:message id="error-message-y" for="param-y" style="color:red"/>

                    <br/>

                    <h:outputLabel value="R : "/>
                    <h:selectManyCheckbox id="param-r" value="#{resultBean.r}" onclick="drawFigure(-1, document)"  validatorMessage="Укажите радиус">
                        <f:selectItem itemValue="1" itemLabel=" 1.0 "/>
                        <f:selectItem itemValue="1.5" itemLabel=" 1.5"/>
                        <f:selectItem itemValue="2" itemLabel=" 2.0 "/>
                        <f:selectItem itemValue="2.5" itemLabel=" 2.5 "/>
                        <f:selectItem itemValue="3" itemLabel=" 3.0 "/>
                        <f:validateRequired for="param-r"/>
                    </h:selectManyCheckbox>
                    <h:message id="error-message-r" for="param-r" style="color:red"/>
                    <br/>
                    <h:commandButton value="Отправить" action="#{resultBean.addPoint()}" type="button">
                        <f:ajax onevent="loadDotsByAjax"
                                execute="param-y param-x param-r"
                                render="error-message-x error-message-y error-message-r result-table addToDB" />
                    </h:commandButton>
                    <h:commandButton action="index" value="Посмотреть на часики"
                                     ajax="false" />

                </h:form>
                <h:form>
                    <p:remoteCommand oncomplete="loadDots();" name="sendRequest" global="true" update="result-table" action="#{resultBean.addPointViaGraph()}"/>
                    <h:outputScript library="js" name="sender.js"/>
                </h:form>
            </div>
<!--        </div>-->

        <h:dataTable value="#{resultBean.getPoints()}"
                     var="result"
                     id="result-table"
                     styleClass="order-table"
                     headerClass="order-table-header">
            <h:column>
                <f:facet name="header">X</f:facet>
                #{result.x}
            </h:column>
            <h:column>
                <f:facet name="header">Y</f:facet>
                #{result.y}
            </h:column>
            <h:column>
                <f:facet name="header">R</f:facet>
                #{result.r}
            </h:column>
            <h:column>
                <f:facet name="header">Попал</f:facet>
                <h:panelGroup rendered="#{result.hit}">
                    <span style="color: green" id="yes">Да</span>
                </h:panelGroup>
                <h:panelGroup rendered="#{!result.hit}">
                    <span style="color: red" id="no">Нет</span>
                </h:panelGroup>
            </h:column>

        </h:dataTable>

    </ui:define>
</ui:composition>
</html>